#welcome {
  color: brown;
  background-color: beige;
  height: 70px;
  position: sticky;
  margin-top: 0;
  padding-top: 30px;
  opacity: .8;
  font-family: fantasy;
}


.earth {
  background-image: url('./imgs/earthMap.jpg');
  background-size: cover;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  box-shadow: 1px 0px 0px 0px #000 Inset, 1px 1px 1px 1px #000;
  animation: spin 20s linear alternate infinite;
}

@keyframes spin {
  100%{
    background-position: 100%
  }
}
